<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>Welcome to SiteMetrics </h1>
     We look at the <small>
      little things
     </small> that matter.
     <p>
      later.
     </p>
     <p>
     </p>
   </body>
 </html>